In [1]:
# -*- coding : utf-8 -*-
import pandas as pd
import numpy as np

In [12]:
rand = np.random.RandomState(42)
ser = pd.Series(rand.randint(0, 10, 4))
df = pd.DataFrame(rand.randint(0, 10, (3, 4)), columns=['A', 'B', 'C', 'D'])

# NOTE
# NumPy ufunc을 이 객체 중 하나에 적용하면 그 결과는 인덱스가 그대로 보존된 다른 Pandas 객체가 된다.
np.exp(ser)

np.sin(df * np.pi / 4)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-1.000000</td>
      <td>7.071068e-01</td>
      <td>1.000000</td>
      <td>-1.000000e+00</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-0.707107</td>
      <td>1.224647e-16</td>
      <td>0.707107</td>
      <td>-7.071068e-01</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-0.707107</td>
      <td>1.000000e+00</td>
      <td>-0.707107</td>
      <td>1.224647e-16</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
# NOTE
# Series에서 인덱스 정렬
area = pd.Series({'Alaska': 1723337, 'Texas' : 695662, 'California' : 423967}, name = 'area')
pop = pd.Series({'California' : 38332521, 'Texas' : 26448193, 'New York' : 19651127}, name = 'pop')

print(pop / area)
# NOTE : 결과 배열은 두 입력 배열의 인덱스의 합집합을 담고있음.
#        이 합집함은 이 인덱스에 표준 파이썬 집합 연산을 사용해 결정됨.

print(area.index | pop.index)

# NOTE : 둘 중에 하나라도 값이 없는 경우에는 NaN으로 표시됨.
#        이 인덱스 매칭은 파이썬에 내장된 산술 표현식에 대해서도 같은 방식으로 구현됨.
A = pd.Series([2, 4, 6], index = [0, 1, 2])
B = pd.Series([1, 3, 5], index = [1, 2, 3])
print(A+B)

# NOTE : NaN 값 사용을 원치 않는 경우 연산자 대신에 적절한 객체 메서드를 사용해 채우기 값을 수정할 수 있음.
print(A.add(B, fill_value = 0))

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64
Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')
0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64
0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [24]:
# NOTE : DataFrame에서 인덱스 정렬
A = pd.DataFrame(rand.randint(0, 20, (2, 2)), columns = list('AB'))
B = pd.DataFrame(rand.randint(0, 10, (3, 3)), columns = list('BAC'))
print(A + B)

# NOTE : 두 개체의 순서와 상관없이 인덱스가 올바르게 정렬되고 결과 인덱스가 정렬됨.
# NOTE : Series 객체와 마찬가지로 fill_value를 통해 누락된 값을 채울 수 있다.
fill = A.stack().mean() # NOTE : A의 행을 쌓아서 계산한 평균값.
print(A.add(B, fill_value = fill))

      A     B   C
0   6.0  26.0 NaN
1  19.0   7.0 NaN
2   NaN   NaN NaN
      A     B     C
0   6.0  26.0  15.0
1  19.0   7.0  15.0
2   9.0  12.0  12.0